<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      p {
        background-color: aquamarine;
      }
    </style>
  </head>

  <body>
    <h1>Siemano</h1>
    <p style="background-color: red" onclick="alert('siemano')">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime doloribus,
      veniam officiis et iusto, ea dicta neque aspernatur, pariatur ullam
      reiciendis eligendi fugiat consequatur asperiores sequi repellat saepe
      consectetur rerum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime doloribus,
      veniam officiis et iusto, ea dicta neque aspernatur, pariatur ullam
      reiciendis eligendi fugiat consequatur asperiores sequi repellat saepe
      consectetur rerum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime doloribus,
      veniam officiis et iusto, ea dicta neque aspernatur, pariatur ullam
      reiciendis eligendi fugiat consequatur asperiores sequi repellat saepe
      consectetur rerum.
    </p>
  </body>
</html>
